.image-container {
  display: flex;
  align-items: flex-start;
}

.image-container img {
  margin-right: 10px;
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.bold-text {
  font-weight: bold;
}
