.image-container {
  display: flex;
  align-items: flex-start;
}

.image-container img {
  margin-right: 30px;
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
